<!-- List of the states -->
<section>
    <!-- Main container -->
    <md-content  style="overflow-y: hidden;">
        <h1>Listado de estados</h1>

        <!-- Filter for the level selection -->
        <md-whiteframe class="md-whiteframe-2dp filter-container" layout="column">
            <div >
                <md-icon md-font-library="material-icons" class="filter-container-title-badge">filter_list</md-icon>
                <h4 class="filter-container-title">Filtro por país</h4>
            </div>
            <md-select ng-model="vm.selectedCountry" ng-change="vm.onCountrySelected()">
                <md-option ng-repeat="country in vm.countries" value="{{country._id}}">
                    {{ country.name }}
                </md-option>
            </md-select>
        </md-whiteframe>


        <div class="list-container" >

            <!-- Container for the list of states -->
            <md-list ng-show="vm.states && !vm.isLoading">
                <md-list-item class="md-2-line ripple-container"  md-ink-ripple
                              ng-repeat="state in vm.states" ng-click="vm.onStateClicked( state )">
                    <div class="md-list-item-text">
                        <h3>{{ state.name }}</h3>
                        <!--<p>Código: {{ country.countryCode }}</p>-->
                    </div>
                </md-list-item>
            </md-list>

            <!-- Fault state container -->
            <div ng-show="!vm.isLoading">

                <!-- Container for the error state -->
                <div class="center-horizontal" ng-show="vm.isInErrorState">
                    <h1>¡Oh no! Hubo un error</h1>
                    <p>{{ vm.errorMessage }}</p>
                    <md-button class="md-primary md-raised" ng-click="vm.onRefreshClicked()">Reintentar</md-button>
                </div>

                <!-- Container for the empty state -->
                <div class="center-horizontal" ng-show="vm.states && vm.states.length === 0">
                    <h4>Parece que no hay estados registrados</h4>
                    <md-button class="md-primary md-raised" ng-click="vm.onRefreshClicked()">Actualizar</md-button>
                </div>

            </div>

            <!-- Loading indicator -->
            <md-progress-circular
                    ng-show="vm.isLoading"
                    class="center-horizontal"
                    md-mode="indeterminate"
                    md-diameter="100">
            </md-progress-circular>
        </div>

        <!-- Button for adding new states -->
        <md-button class="md-fab fab-button" aria-label="Añadir estado" ng-click="vm.createState( $event )">
            <md-icon md-font-library="material-icons">add</md-icon>
        </md-button>

    </md-content>
</section>
