<!-- Home page for Athens -->
<section>

    <!-- Main card for the login view of the Athens Web Application -->
    <md-card id="home-hero-card">
        <md-card-content>
            <!-- Hero text -->
            <div layout="row">
                <p id="home-hero-text">
                    Athens
                </p>
            </div>
            <div layout="row">
                <p id="home-description-text">
                    ¡Bienvenido!
                </p>
            </div>
            <br>
            <br>
        </md-card-content>
    </md-card>

</section>
