<!-- Home page for the Fixin Administrator -->
<section>

    <!-- Main card for the login view of the Fixin Web Application -->
    <md-card id="home-hero-card">
        <md-card-content>
            <!-- Container for the Fixin Logo -->
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <img alt="Fixin Administrator" id="home-brand"
                         src="modules/core/client/img/brand/admin-logo.jpg"/>
                </div>
            </div>
            <br>
            <!-- Hero text -->
            <div layout="row">
                <p id="home-hero-text">
                    Fixin Web
                </p>
            </div>
            <div layout="row">
                <p id="home-description-text">
                    ¡Bienvenido al Administrador de Fixin!
                </p>
            </div>
            <br>
            <!-- Container for the main actions for the view -->
            <div layout="row">
                <md-button class="md-primary md-raised" flex="50" id="card-login-button">
                    Iniciar sesión
                </md-button>
            </div>
            <br>


        </md-card-content>
    </md-card>

</section>
