<!-- List of the legislation available in the server -->
<section>
    <!-- Loading container -->
    <md-content ng-show="vm.isLoading" style="background: #EDEDED">
        <md-progress-circular
                class="center-horizontal"
                md-mode="indeterminate"
                md-diameter="100">
        </md-progress-circular>
    </md-content>

    <!-- Error container -->
    <md-content ng-show="!vm.isLoading && vm.isInErrorState" style="background: #EDEDED">
        <div class="center-horizontal">
            <h1>¡Oh no! Hubo un error</h1>
            <p>{{ vm.errorMessage }}</p>
            <md-button class="md-primary md-raised" ng-click="vm.onRefreshClicked()">Reintentar</md-button>
        </div>
    </md-content>

    <!-- List container -->
    <md-content ng-hide="vm.isLoading || vm.isInErrorState" style="background: #EDEDED">
        <!-- Legislations -->
        <h3>Legislaciones</h3>

        <!-- Container for the list of legislations -->
        <div class="row">
            <div class="col l4 m6 s12 animated zoomIn" ng-repeat="legislation in vm.items">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="http://d7.freedomworks.org.s3.amazonaws.com/field/image/Regulators-Grab-Legislative-Power-Congress.jpg">
                        <span class="card-title">Ley 3 de 3 {{ legislation.name }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ legislation.text }}</p>
                    </div>
                    <div class="card-action" ng-click="vm.onItemClick( legislation )">
                        <a>Ver más</a>
                    </div>
                </div>
            </div>
        </div>

        <h3>Políticos</h3>

        <div class="row">
            <div class="col l4 m6 s12 animated zoomIn" ng-repeat="politic in vm.politicians">
                <div class="card hoverable">
                    <div class="card-image">
                        <img ng-src="{{ politic.image }}">
                        <span class="card-title">{{ politic.name }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ politic.description }}</p>
                    </div>
                    <div class="card-action">
                        <a href="profile.html">Ver más</a>
                    </div>
                </div>
            </div>
        </div>

    </md-content>
</section>
