<!-- List of the countries -->
<section>
    <!-- Loading container -->
    <md-content ng-show="vm.isLoading">
        <md-progress-circular
                class="center-horizontal"
                md-mode="indeterminate"
                md-diameter="100">
        </md-progress-circular>
    </md-content>

    <!-- List container -->
    <!-- TODO why we need to hide the overflow-y ??? -->
    <md-content ng-hide="vm.isLoading || vm.isInErrorState" style="overflow-y: hidden;">
        <h1>Listado de paises</h1>

        <!-- Container for the list of countries in the platform -->
        <md-list ng-show="vm.countries">
            <md-list-item class="md-2-line ripple-container"  md-ink-ripple
                          ng-repeat="country in vm.countries" ng-click="vm.onCountryClicked( country )">
                <div class="md-list-item-text">
                    <h3>{{ country.name }}</h3>
                    <p>Código: {{ country.countryCode }}</p>
                </div>
            </md-list-item>
        </md-list>

        <!-- Fault state container -->
        <div ng-show="!vm.isLoading">

            <!-- Container for the error state -->
            <div class="center-horizontal" ng-show="vm.isInErrorState">
                <h1>¡Oh no! Hubo un error</h1>
                <p>{{ vm.errorMessage }}</p>
                <md-button class="md-primary md-raised" ng-click="vm.onRefreshClicked()">Reintentar</md-button>
            </div>

            <!-- Container for the empty state -->
            <div class="center-horizontal" ng-show="vm.countries && vm.countries.length === 0">
                <h4>Parece que no hay países registrados</h4>
                <md-button class="md-primary md-raised" ng-click="vm.onRefreshClicked()">Actualizar</md-button>
            </div>

        </div>

        <!-- Button for adding new countries -->
        <md-button class="md-fab fab-button" aria-label="Añadir país" ng-click="vm.addCountry( $event )">
            <md-icon md-font-library="material-icons">add</md-icon>
        </md-button>

    </md-content>
</section>
