<div class="row">
    <div class="col s12 m12 l12" id="altura"></div>
    <div class="col s1 m3 l4"></div>
    <div class="col s10 m6 l4 animated bounceInUp" id="login">
        <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
            <div class="col s12 m12 l12">
                <br>
                <h5 style="text-align: center;">Registrate</h5><a href="index.html"><img src="/modules/core/client/img/logo.png" width="50" class="right" alt="logo"></a>
                <br>
            </div>
            <div>
                <div class="input-field col s12">
                    <input id="nombre" type="text" class="validate" ng-model="vm.userInformation.name">
                    <label for="nombre">Nombre(s)</label>
                </div>
            </div>
            <div>
                <div class="input-field col s12">
                    <input id="correo" type="email" class="validate" ng-model="vm.userInformation.email">
                    <label for="correo" data-error="Formato no valido" data-success="">Email</label>
                </div>
            </div>
            <div>
                <div class="input-field col s6">
                    <input id="password" password-validator type="password" name="password" class="validate" ng-model="vm.userInformation.password">
                    <label for="password">Contraseña</label>
                </div>
            </div>
            <div>
                <div class="input-field col s6">
                    <input id="pass2" type="password" class="validate">
                    <label for="pass2">Confirma Contraseña</label>
                </div>
            </div>

            <!-- requirements for the password -->
            <div class="form-group" ng-show="!vm.userForm.password.$error.required">
                <label>Requerimientos de la contraseña</label>
                <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span
                        style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
            </div>


            <div class="col s12 m12 l12">
                <button class="btn waves-effect waves-light right animated " type="submit" name="enviar">Entrar
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <br>
            <br>
        </form>
        <div class="col s12 m12 l12">
            <p style="text-align: center;"><a ui-sref="authentication.signin" >¿Ya tienes cuenta? Da clic aqui</a></p>
        </div>
    </div>

</div>
